.featurebox
  .approved
    %h5
      = comment.title
    %p
      = markdown(comment.content)
    .date
      = comment.name.present? ? "Left by #{comment.name}" : "Left" 
      = "#{time_ago_in_words(comment.created_at)} ago"
    - if current_user?
      .left 
        = render 'admin/links', :resource => comment