= simple_form_for comment, :url => path, :html => {:class => 'comment_form' } do |f|
  %div.comment
    = f.hidden_field :story_id, :value => story.id
    -# f.input :title
    = f.input :name, :label => "name", :class => "name"
    %div{ :style => "font-size: 10px; margin-left: 12em; "}
      %div.red
        Do not use your real name if you think it might endanger your safety
    = f.input :content, :label => "comment"
    -# f.input :email, :class => "email"
  %div{:style => "clear:both;" }
  = f.submit "leave comment", :style => "float: right; "