= content_for :title do
  Featured Story

= content_for :middle do
  - if @story
    .featured_story
      .featurebox
        %h3 Current Featured Story
        %hr
        .story
          %h3
            = @story.title
          %div.body
            = raw @story.body

  - if @stories
    .featurebox
      %h3 Choose New Featured Story
      = form_tag admin_new_featured_story_path do
        = select_tag "id", options_from_collection_for_select(@stories, "id", "title"), :include_blank => true, :height => "120"
        = submit_tag
