= content_for :title do
  Featured Story

= content_for :middle do
  - if @story
    .featurebox
      %h3 Current Featured Story  
      %hr
      %h4
        = @story.title
      %p
        = raw @story.body

  - if @stories
    .featurebox
      %h3 Choose New Featured Story
      = form_tag admin_new_featured_story_path do
        = select_tag "featured", options_from_collection_for_select(@stories, "id", "title")
        = submit_tag