= content_for :title do
  Our Stories

= content_for :caption do
  #caption.index
    %h2
      = "Stories: #{params[:action].titleize}" if current_user?
      = "Our stories" if !current_user?

= content_for :story_body do
  .featurebox
    .index
      %ul
        - @stories.each do |story|
          %li
            = link_to story.title, story
            %span.tag
              = "by #{story.name}" if story.name.present?
              = "- #{story.created_at.strftime("%m/%e/%y")}"
