- content_for :caption do
  #caption
    %h2
      Family Shelter Service
      %div Sharing stories of struggle and resilience

- content_for :featurebox do
  %h3.center
    Welcome to Our Story Project
  %p
    Those who have been impacted by domestic violence can recount their stories here.  
    By sharing their stories, often after a long silence, our writers have an opportunity to be heard.  
    Readers can learn, understand, and respond.   
    %br
  %div.center
    = link_to "Read a Story", read_story_path, :class => "button"

- content_for :below_featurebox do
  - if @featured.present?
    .featurebox
      %h3.center Featured Story
      %hr
      %h3
        = @featured.title
      %div
        = simple_format truncate(sanitize(@featured.body, :tags => []), :length => 100)
      %hr
      .center
        = link_to "Read More", @featured, :class => "button"


  .featurebox
    %h3.center My Journal - My Voice
    %p
      Now available!! A special guided journal to help any of us find the words to explore our thoughts and feelings. Written and designed by a therapist, produced by Our Story Project. Proceeds benefit the project.
    .center
      = link_to "Buy the Journal", "https://www.createspace.com/3861795", :class => "button", :target => '_blank'

- content_for :mixpanel do
  = mixpanel_track("Land on Index");
  = mixpanel_track_links('a#fssbanner', "Visit FSS.org");
  -# script{ :type => "text/javascript" }
    -# mixpanel.track("Land on Index");