= content_for :title do
  Resources

= content_for :caption do
  #caption
    %h2
      Resources

= content_for :featurebox do
  %br
  %ul.resources
    - @settings.each do |setting|
      %li
        - if setting.name == "Family Shelter Service"
          = link_to setting.name, setting.link, :class => "FSS-link"
        - else
          = link_to setting.name, setting.link
        %br
        .tagline
          = setting.tagline

- content_for :mixpanel do
  = mixpanel_track_links("a.FSS-link", "Visit FSS.org");