= content_for :title do
  Resources

= content_for :caption do
  #caption
    %h2
      Resources

= content_for :featurebox do
  %br
  %ul.resources
    - @settings.each do |setting|
      %li
        = link_to setting.name, setting.link
        %br
        .tagline
          = setting.tagline