= simple_form_for @story do |f|
  %div.info-container
    Personal Information
    %div.small
      %span.red
        Do not use your real first name or age if it may jeopardize your safety.
    %div.info
      = f.input :name, :wrapper_html => {:class => 'name' }, :label => "First Name"
      = f.input :age, :as => :string, :wrapper_html => { :class => 'age' }
    .small{style: 'clear:both'}
      %span.red For Contest purposes only. This will never be displayed to the public.
    %div.info
      = f.input :email, :wrapper_html => { :class => 'email' }
      = f.input :phone
  %div.story
    = f.input :title, :wrapper_html => { :class => 'title'}, :required => false
    = f.input :body, :required => false, :label => false, :input_html => {:class => "tinymce"}
  %div.submit
    %span.fine-print
      Please share your comments, questions, and responses with us.
      %br
      If you would like to submit a piece for possible publication, please do so.
      %br
      %span.red
        By leaving your words here, you grant us permission to share them
        with others.
        %br
        They may appear here or in other online or print formats,
        in their entirety or in part.
        %br
        No names or identifying information will be
        used.
    = f.submit 'Share Story'

= tinymce :position => "top", :width => "100%"
