= content_for :title do
  Our Stories

= content_for :caption do
  #caption.index
    %h2
      = "Our stories: #{params[:action]}" if current_user?
      = "Our stories" if !current_user?

= content_for :middle do
  .index
    .featurebox
      %ul
        - @stories.each do |story|
          %li
            = link_to story.title, story
