= content_for :title do
  = @story.title

= content_for :caption do
  #caption.show
    %h2
      = @story.title.titleize

= content_for :story_body do
  .featurebox
    .body
      = raw @story.body
    .body
      = simple_format @story.body
    .links-left
      - if current_user?
        = render 'admin/links', :resource => @story
      - else
        = link_to "Read another story", read_story_path, :class => 'button'
    .date
      = "Submitted #{time_ago_in_words(@story.created_at)} ago"
      %br
      = "Approved by #{approver}" if current_user? && @story.admin.present?
    %hr
      - if current_user? && @unapproved_comments.present?
        %h3 
          = "unapproved comments(#{@unapproved_comments.count})"  
        - if @unapproved_comments.count > 0
          .box
            = render :partial => 'comments/comment', :collection => @unapproved_comments, :as => :comment
        %hr
      - if @comments.count > 0
        %h3 
          = "comments(#{@comments.count})" if !current_user?
          = "approved comments(#{@comments.count})" if current_user?
          .box
            = render :partial => 'comments/comment', :collection => @comments, :as => :comment
        %hr
      %h3 leave a comment
      %div.box
        = render 'comments/fields', :comment => @comment, :path => comments_path, :story => @story