= content_for :title do
  = @story.title

= content_for :caption do
  #caption.show
    %h2
      = @story.title.titleize

= content_for :story_body do
  .featurebox
    .body
      = markdown(@story.body)
    - if current_user?
      .admin-controls
        - if @story.approved?
          = link_to "unapprove", admin_disapprove_story_path(:id => @story.id), :class => 'button unapprove'
        - else
          = link_to "approve", admin_approve_story_path(:id => @story.id), :class => 'button approve'
        = link_to "edit", edit_admin_story_path(@story), :class => 'button edit'
        = link_to "delete", admin_story_path(@story), method: :delete, :confirm => "Are you sure?", :class => 'button delete'
    - else
      .left
        = link_to "Read another story", random_story_path, :class => 'button'
    .date
      = "Submitted #{time_ago_in_words(@story.created_at)} ago"
      %br
      = "Approved by #{approver}" if current_user? && @story.admin.present?
    %hr
      - if current_user?
        %h3 
          = "unapproved comments(#{@unapproved_comments.count})"  
        - if @unapproved_comments.count > 0
          .box
            - @unapproved_comments.all.each do |comment|
              .featurebox
                .unapproved
                  %h5
                    = comment.title
                  %p
                    = comment.content
                  .date
                    = "Left by #{comment.name} #{time_ago_in_words(comment.created_at)} ago"
                  .admin-controls
                    .left 
                      = link_to "approve", admin_approve_comment_path(:id => comment.id), :class => 'button left approve'
                      = link_to "delete", admin_comment_path(comment), method: :delete, :confirm => "Are you sure?", :class => 'button right delete' 
                      = link_to "edit", edit_admin_comment_path(comment), :class => 'button right edit'
                      -# f.submit "approve", :class => 'button left approve'
        %hr
      %h3 
        = "comments(#{@comments.count})" if !current_user?
        = "approved comments(#{@comments.count})" if current_user?
      - if @comments.count > 0
        .box
          - @comments.all.each do |comment|
            .featurebox 
              %h5
                = comment.title
              %p
                = comment.content
              .date
                = "Left by #{comment.name} #{time_ago_in_words(comment.created_at)} ago"
              - if current_user?
                .admin-controls
                  = link_to "unapprove", admin_unapprove_comment_path(:id => comment.id), :class => 'button unapprove'
                  = link_to "edit", edit_admin_comment_path(comment), :class => 'button edit'
                  = link_to "delete", admin_comment_path(comment), method: :destroy, :class => 'button delete'
      %hr
      %h3 leave a comment
      %div.box
        = render 'comments/fields', :comment => @comment, :path => comments_path, :story => @story