= content_for :title do
  = @story.title

= content_for :caption do
  #caption.show
    %h2
      = @story.title.titleize
    by #{@story.name}


= content_for :story_body do
  .featurebox
    .body
      = raw @story.body
    .links-left
      - if current_user?
        = render 'admin/links', resource: @story
      - else
        = link_to "Read another story", read_story_path, :class => 'button'
    .date
      = "Submitted #{time_ago_in_words(@story.created_at)} ago"
      %br
      = "Approved by #{@story.approver_email}" if current_user? && @story.admin.present?
    %hr
      - if current_user?
        %h3 Contact Information (for Admin use only)
        <b>Email</b>: #{@story.email}<br>
        <b>Phone</b>: #{@story.phone}<br>
        %br
        %hr
        - %w(unapproved approved).each do |filter|
          %h3{id: "#{filter}-comments-count"}
            = "#{filter} comments(<span class='count'>#{@story.comments.send(filter).count}</span>)".html_safe
          .box{id: "#{filter}-box"}
            = render :partial => 'comments/comment', collection: @story.comments.send(filter), :as => :comment
            %hr

      - elsif @story.comments.approved.count > 0
        %h3#approved-comments-count
          = "comments(#{@story.comments.approved.count})"
        .box#approved-box
          = render :partial => 'comments/comment', :collection => @story.comments.approved, :as => :comment
        %hr
      %h3 leave a comment
      %div.box
        = render 'comments/fields', :comment => @comment, :path => comments_path, :story => @story
