= content_for :title do
  = @story.title

= content_for :caption do
  #caption.show
    %h2
      = @story.title.titleize

= content_for :story_body do
  .featurebox
    .body
      - line_breaks(@story.body).each do |line|
        %p
          = line
    - if current_user?
      .admin-controls
        %span.button
          = link_to "edit", edit_admin_story_path(@story)
        - if @story.approved?
          %span.button
            = link_to "unapprove", admin_disapprove_story_path(:id => @story.id)
        - else
          %span.button
            = link_to "approve", admin_approve_story_path(:id => @story.id)
        %span.button
          = link_to "delete", admin_story_path(@story), method: :delete, :confirm => "Are you sure?"
    - else
      .left
        %span.button
          = link_to "Read another story", random_story_path
    .date
      = "Submitted #{time_ago_in_words(@story.created_at)} ago"