%header
  %nav
    #logo
      = link_to image_tag "osp-logo.png"
    %ul.topnav
      %li
        %a.up Stories
        %ul.subnav
          %li
            = link_to "Write a story", "#"
          %li
            %a{:href => '#'} 1st submission
          %li
            %a 2nd submission
      %li
        = link_to "Resources", "#"
      %li
        = link_to "Contact Us", "#"
      %li
        = link_to "Search", "#"