%header
  %nav
    - if current_user?
      %span#signed-in-user
        Logged in as
        = link_to current_user.email, current_user
        |
        = link_to "log out", sign_out_path
    #logo
      = link_to image_tag("osp-logo.png"), root_path
    %ul.topnav
      %li
        %a.drop Stories
        %ul.subnav
          - if !current_user?
            %li
              = link_to "Share your story", new_story_path
            %li
              = link_to "Read a story", random_story_path
            %li
              = link_to "See all stories", stories_path
          - else
            %li
              = link_to "Unapproved (#{Story.unapproved.count})", admin_unapproved_stories_path
            %li
              = link_to "Approved (#{Story.approved.count})", admin_approved_stories_path
            %li
              = link_to "New Story", new_story_path
      %li
        = link_to "Resources", pages_resources_path
      %li
        = link_to "Contact Us", contact_path
      -#%li
        -#= link_to "About", pages_about_path
  #flash
    -# if flash
      -# %p.notice flash
    - if flash
      - flash.each do |name, msg|
        = content_tag :p, msg, :class => name, :id => "flash_#{name}" if msg.is_a?(String)
