.header
  %nav
    - if current_user?
      %span#signed-in-user
        Logged in as
        = link_to current_user.email, current_user
        |
        = link_to "log out", sign_out_path
    #logo
      = link_to image_tag("osp-logo.png"), root_path
    %ul.topnav
      %li
        %a.drop#stories Stories
        %ul.subnav#stories-subnav
          - if !current_user?
            %li
              = link_to "Share your story", new_story_path
            %li
              = link_to "Read a story", random_story_path
            %li
              = link_to "See all stories", stories_path
          - else
            %li
              = link_to "Approved (#{@approved_story_count})", admin_approved_stories_path
            %li
              = link_to "Unapproved (#{@unapproved_story_count})", admin_unapproved_stories_path if @unapproved_story_count #&& @unapproved_story_count > 0
            - if @unapproved_comment_count && @unapproved_comment_count > 0
              %li
                = link_to "New Comments (#{@unapproved_comment_count})", admin_stories_with_unapproved_comments_path
            %li
              = link_to "New Story", new_story_path
      %li
        %a.drop#resources Getting Started
        %ul.subnav#resources-subnav
          %li
            = link_to "Writing Tips", pages_writing_tips_path if !current_user
          %li
            = link_to "Resources", pages_resources_path if !current_user
            = link_to "Resources", admin_settings_resources_path if current_user
      %li
        = link_to "Contact Us", contact_path if !current_user
      %li
        %a.drop#admin-settings Admin Settings
        %ul.subnav#admin-settings-subnav
          %li
            = link_to "Alert Emails", admin_settings_settings_path if current_user
          %li
            = link_to "Admins", admin_settings_admins_path if current_user
      -#%li
        -#= link_to "About", pages_about_path
  #flash
    - if flash
      - flash.each do |name, msg|
        = content_tag :p, msg, :class => name, :id => "flash_#{name}" if msg.is_a?(String)
  #buy_journal_button
    %div
      = link_to "Buy the journal", "https://www.createspace.com/3861795", :target => '_blank'
