%header
  %nav
    #logo
      = link_to image_tag("osp-logo.png"), root_path
    %ul.topnav
      %li
        %a.drop Stories
        %ul.subnav
          %li
            = link_to "Share your story", new_story_path
          %li
            = link_to "Read a story", stories_path
          %li
            %a{:href => '#'} 2nd submission
      %li
        = link_to "Resources", "#"
      %li
        = link_to "Contact Us", "#"
      %li
        = link_to "Search", "#"