.header
  %nav
    = render "layouts/nav" if !current_user
    = render "admin/nav" if current_user
    #flash
      - if flash
        - flash.each do |name, msg|
          = content_tag :p, msg, :class => name, :id => "flash_#{name}" if msg.is_a?(String)
  #buy_journal_button     
    %div
      = link_to "Buy the journal", "https://www.createspace.com/3861795", :target => '_blank'