!!! 5
- html_tag do
  %head
    = render 'layouts/head'
  %body
    #main
      #bgimage
        .container
          = render 'layouts/header'

          #caption
            = yield :caption if content_for?(:caption)
        .container
          .blank-middle
          .featurebox
            = yield :featurebox if content_for?(:featurebox)
          .featurebox
            = image_tag "fssbanner.png"
          -# yield


        .container
          = render 'layouts/footer'
