!!! 5
- html_tag do
  %head
    = render 'layouts/head'
  %body
    #main
      #bgimage
        .container
          = render 'layouts/header'
          - if content_for?(:caption)
            = yield :caption
        .container
          .middle
            - if content_for?(:middle)
              .featurebox
                = yield :middle
          - if content_for?(:featurebox)
            .featurebox
              = yield :featurebox
          .fsbanner
            = image_tag "fssbanner.png"
          = yield


        .container
          = render 'layouts/footer'
