!!! 5
- html_tag do
  %head
    = render 'layouts/head'
    = yield :mixpanel if content_for?(:mixpanel)
  %body
    #main
      #bgimage
        .container
          = render 'layouts/header'
          - if content_for?(:caption)
            = yield :caption
        .container
          .middle
            - if content_for?(:middle)
              = yield :middle
            - if content_for?(:story_body)
              .story_body
                = yield :story_body
          - if content_for?(:featurebox)
            .featurebox
              = yield :featurebox
          .fsbanner
            = link_to image_tag("fssbanner.png"), "http://familyshelterservice.org"
          = yield


        .container
          = render 'layouts/footer'
          
